.env
#**/terraform/**/.terraform/
**/terraform/**/.terraform.lock.hcl
**/terraform/**/*.tfstate
**/terraform/**/*.tfstate.*
**/terraform/**/*.tfvars
**/terraform/**/*.tfvars.json





# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc